@import "compass/reset";

body {
  font: .85em/1 'Myriad Pro', Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  font-size: 1.8em;
  margin: 0 0 20px;
}

#page {
  max-width: 800px;
  min-width: 320px;
  margin: 40px auto;
}

form {
  background-color: #FFF4DB;
  padding: 20px;
}

#upload-controls {
  margin: 20px 0;
  padding: 20px 0;
  border-top: solid 1px silver;
  position: relative;
}

#progress-outer {
  height: 20px;
  border: solid 1px silver;
  margin-right: 70px;
}
#progress-inner {
  background-color: lightgreen;
  height: 20px;
  width: 0;
}
#pause {
  position: absolute;
  top: 20px;
  right: 0;
}
